AddType application/x-httpd-php .html .htm

RewriteEngine On

# Change to your own matric number if you are testing on your ZONE server
RewriteBase /~a0110781/

RewriteRule ^search$(.*)	search.php$1 [L]
RewriteRule ^login	login.php [L]
RewriteRule ^logout	logout.php [L]
RewriteRule ^transactions/?$ transactions.php [L]
RewriteRule ^transactions/(.+)$	transactions.php?type=$1 [L]
RewriteRule ^admin/?$	admin.php [L]
RewriteRule ^admin/([a-z]+)$ admin.php?type=$1 [L]
